extends layout
block content
  div.mainContainer
    header 
      img(src="https://upload.wikimedia.org/wikipedia/commons/3/33/Vanamo_Logo.png" width='5%')
      h1 COMPANY NAME
    div.userContainer
      div.landingDiv
        p.icon 
          i(class="fa fa-users" aria-hidden="true")
        p Add patient data  
        p or 
        p upload .CSV
        form.adminLogin(action='#' method='post')
          div.form-group
            label(for="username") Username
            input.form-control(type="text" id="username" name="username" value= '' placeholder="Enter username...")
          div.form-group
            label(for="password") Password
            input.form-control(type="password" id="password" name="password" value= '' placeholder="Enter password...")
          div.form-group

              a.btn.btn-primary(href="/patientData" role="button") Login
          
          a.btn.btn-default(href="users/create" role="button") Create Account
      div.landingDiv
        p.icon
          i(class="fa fa-pie-chart" aria-hidden="true")
        br
        br
        br
        br  
        a.btn.btn-primary.center-block(href="#" role="button" style="width:70%") Generate Reports
        
      
      
  
