extends layout
block content
  div.mainContainer
    header 
      img.logo2(src="http://www.clker.com/cliparts/N/5/f/c/9/D/blue-security-shield-md.png")
      h1 Fortified Health
    div.userContainer
      div.landingDiv
        p.icon 
          i(class="fa fa-users" aria-hidden="true")
        p.landingDivText Add new patient data or Access Existing Patient Data
        a.btn.btn-primary.center-block.addNewButton(href="/add_patient" role="button" style="width:70%") Add New Patient
          
        a.btn.btn-primary.center-block(href="/edit_patient" role="button" style="width:70%") Edit Existing Patient
      div.landingDiv
        p.icon
          i(class="fa fa-pie-chart" aria-hidden="true")
        p.landingDivText Create and View Reports Based on Patient Metrics  
        br
        br  
        a.btn.btn-primary.center-block(href="/reports" role="button" style="width:70%") Generate Reports
        
      
      
  
