extends layout
block content
  div.mainContainer
    header
      div.logo
        img.logo2(src="http://www.clker.com/cliparts/N/5/f/c/9/D/blue-security-shield-md.png")
        h1 Fortified Health
      div.nav
        h3 
          a(href='/landing') Home
        h3  
          a(href='/reports') Reports
        h3
          a(href='/') Logout
        div.userInfo
          img(src=user.photo width='60px')
          p #{user.name}
    div.userContainer
      div.landingDiv
        p.icon 
          i(class="fa fa-users" aria-hidden="true")
        p.landingDivText Add new patient data or Access Existing Patient Data
        p.landingDivText #{error}
        a.btn.btn-primary.center-block.addNewButton(href="/add_patient" role="button" style="width:70%") Add New Patient
        form(action="/edit_patient", method="get")
          input(type="text" name="patientId" placeholder="enter patient ID")
          button.btn.btn-primary.center-block(type="submit" style="width:70%") Edit Existing Patient
      div.landingDiv
        p.icon
          i(class="fa fa-pie-chart" aria-hidden="true")
        p.landingDivText Create and View Reports Based on Patient Metrics  
        br
        br  
        a.btn.btn-primary.center-block(href="/reports" role="button" style="width:70%") Generate Reports
