extends layout
block content
  
  div.mainContainer
    header 
      img(src="https://upload.wikimedia.org/wikipedia/commons/3/33/Vanamo_Logo.png" width='5%')
      h1 COMPANY NAME
    div.loginBox
        p Sign in With:
        div.googleDiv
          img(src="../images/croppedLogo.png")
          a(href='/auth/linkedin' class='linkedinButton')
            p linkedin
            
      
      
      
      
