body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #202020;
  font-family:"Open Sans", sans-serif;
  width: 100%;
  height: 100vh;
}

header{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  color: white;
  text-shadow: 4px 4px 4px black;
  width: 100%;
  height: 15%;
}

.userInfo {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  color: #6D6DDD;
  text-shadow: none;
}

.userInfo img {
  width: 60px;
  border-radius: 30px;
}

.logo {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.nav {
  display: flex;
  height: 100%;
  width: 50%;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.nav a {
  text-decoration: none;
  color: #007FFF;
  text-shadow: 1px 1px 1px black;
}

.nav a:hover {
  color: #2626A0;
}

.mainContainer{
  height: 95%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #7CA2C7;
  background-size: cover;
  background-repeat: no-repeat;
}

.googleDiv{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 5px 5px #707070;
  width: 95%;
  height: 30%;
}

.googleDiv img{
  width: 20%;
  height: 100%;
}

.loginBox{
  padding: 0 35px;
  font-weight: 600;
  font-size: 16pt;
  width: 25%;
  height: 25%;
  border: 1px solid #707050;
  background: white;
  border-radius: 10px;
  box-shadow: 5px 5px 20px #202020;
  margin-top: 80px;

}

.googleButton{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #DC4A38;
  height: 100%;
  border-radius: 2px;
  color: white;
  font-size: 32px;
  border-left: 1px solid white;
  text-decoration: none;
}

.googleButton:hover {
  text-decoration: none;
  color: white;
}

.googleButton:hover{
  background-color: #921708;
}

.userContainer{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.landingDiv{
  margin: 6%;
  width: 30%;
  background-color: #CACCCE;
  padding: 30px;
  border-radius: 15px;
  border: 2px solid white;
  height: 400px;
}


.landingDiv p{
  text-align: center;
}

.adminLogin{
  width: 85%;
}

.icon{
  font-size: 48pt;
  text-shadow: 1px 1px 1px black;
  color: grey;
}

.controlPanel {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 80%;
  width: 100%;
}

.pane {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 35%;
  height: 95%;
  padding-left: 5%;
  border: 2px solid grey;
  border-radius: 10px;
  position: relative;
}

.delete {
  position: absolute;
  top: 120px;
  right: 60px;
}

.pane h1 {
  color: #6D6DDD;
  font-weight: 600;
  text-shadow: 1px 1px 1px black;
}

.pane ul {
  list-style: none;
}

.patientFields{
  width: 80%;
  display: none;
}

.patientFields input {
  font-size: 14pt;
  font-weight: 400;
  border-radius: 5px;
}

.measures .form-group{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;;
  align-items: flex-start;
}

.menuSelect {
  padding: 5px;
  border-radius: 5px;
}

.sex {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
}

.legend text{
  font-size: 12pt;
  fill: white;
  text-shadow: 1px 1px 1px black;
}

rect {
  stroke-width: 2;
  cursor: pointer;
}

rect.disabled {
  fill: transparent !important;
}

.graph-container {
  width: 100%;
  height: 85%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
}

.graph-container .form-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 100%;
  margin: 0;
}

.select-data {
  width: 45%;
  height: 35px;
  font-size: 14pt;
}

.patient-table {
  height: 45%;
  width: 80%;
  overflow: scroll;
}

.patient-table .table{
  background-color: #DDDDDD;
}

.form-group h2 {
  width: 80%;
  margin-top: 10%;
  background-color: #337AB7;
  padding: 10px;
  border-radius: 5px;
  color: white;
  text-shadow: 1px 1px 1px black;
}

.graph-container .chart {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 100%;
}

.label {
  font-size: 14pt;
  color: black;
}

.tooltip {
  background: #EEEEEE;
  border-radius: 10px;
  box-shadow: 3px 3px 3px black;
  color: #333333;
  display: none;
  font-size: 14pt;
  left: 130px;
  padding: 10px;
  position: absolute;
  text-align: center;
  top: 95px;
  z-index: 10;
  opacity: 1;
}

.graph-title {
  margin: 10px;
  color: white;
  text-shadow: 1px 1px 1px black;
  position: absolute;
  top: 1%;
  left: 5%;
}

.addNewButton {
  margin-bottom: 40px;
  margin-top: 20px;
}

footer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%
  height: 5%;
  text-align: center;
  color: #808080;
  border-top: 2px solid white;
}

.header2{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  color: white;
  text-shadow: 3px 3px 3px black;
}

.mainContainer2{
  height: 95vh;
  background-image: url('../images/login_background1.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-color: white;

}

.loginBox2{
  background-color: #404040;
  border: 2px solid white;
  color: white;
  font-size: 16pt;
  border-radius: 15px;
  padding-bottom: 4%;
  padding-top: 2%;
  margin-top: 10%;
  text-shadow: 2px 2px 2px black;

}

.logo2{
  height: 90px;
  width: 65px;
  margin-right: 20px;
  margin-left: 20px;
}

.navRow{
  padding-top: 3vh;
  text-shadow: 1px 1px 1px black;
}

.headerRow{
  margin-bottom: 10vh;
}

/*.logo2{
  height: 70px;
  width: 70px;
  margin-top: 10px;
  margin-right: 20px;
  margin-left: 20px;
}*/

.linkedInButton{
 height: 75px;
 border: 1px solid white;
 padding: 15px 80px;
 border-radius: 10px;
 background: grey;
}

.linkedInButton:hover{
  background: #606060;
}

.controlPanelHeaders{
  font-weight: 300;
  margin-bottom: 40px;
  cursor: pointer;
}

.leftForm{
  height: 400px;
  background-color: white;
}

.rightForm{
  height: 400px;
  background-color: white;
}

.male{
  margin-right: 100px;
}
